@use '../../abstracts/variables';

.banky {
    background-color: white;
    min-height: calc(100vh - map-get(variables.$vhCalculation, "headerHeight") - map-get(variables.$vhCalculation, "bodyPadding") * 2);
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 2rem;


    &__header {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__money {
        font-weight: 400;
        font-size: 250%;
    }

    &__logo {
        width: 5rem;
        height: 5rem;
        background-color: map-get(variables.$logoColors, "colorTwo");
        border-radius: 50%;
    }

    &__eye {
        width: 5rem;
        height: 5rem;
        background-color: map-get(variables.$logoColors, "colorTwo");
        border-radius: 50%;
    }

    &__transactions {
        list-style: none;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__transaction {
        display: flex;
        font-size: 120%;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-weight: 300;
        font-size: 120%;
    }

    &__amount {
        font-weight: 300;
        font-size: 120%;
    }
}