@use '../../abstracts/variables';

.banky {
    background-color: white;
    min-height: calc(100vh - map-get(variables.$vhCalculation, "headerHeight") - map-get(variables.$vhCalculation, "bodyPadding") * 2);
    display: flex;

    &__section {
        width: 50%;
    }
}