@use 'abstracts/variables';

body {
    background: linear-gradient(to bottom right, map-get(variables.$baseColors, "background"), 30%, map-get(variables.$baseColors, "backgroundDark"));
    min-height: 100vh;
    padding: 4rem;
}