@use 'abstracts/variables';

body {
    font-family: variables.$font-family;
    background: variables.$gradient;
    min-height: 100vh;
    padding: map-get(variables.$vhCalculation, "bodyPadding");
    padding-bottom: 0;
}