@use 'abstracts/variables';

body {
    min-height: 100vh;
    padding: 4rem;
    background: linear-gradient(to bottom right, map-get(variables.$colorVars, 'backgroundColorOne'), map-get(variables.$colorVars, 'backgroundColorTwo'));
}