$baseColors: (
    "background": #AA77FF,
    "backgroundDark": #66347F,
);

$vhCalculation: (
    "headerHeight": 8rem,
    "bodyPadding": 4rem,
);

$logoColors: (
    "colorOne": #AA77FF,
    "colorTwo": #66347F,
);