$baseColors: (
    "background": #AA77FF,
    "backgroundDark": #66347F,
);

$vhCalculation: (
    "headerHeight": 8rem,
    "bodyPadding": 4rem,
);

$avatarColors: (
    "colorOne": #AA77FF,
    "colorTwo": #66347F,
);

$font-family: "Open Sans", sans-serif;

$gradient: linear-gradient(to bottom right, map-get($baseColors, "background"), 30%, map-get($baseColors, "backgroundDark"));

$sectionWidth: 50% 50%;

$bluramount: 10px;