@use '../../abstracts/variables';

.upgrades {
    list-style: none;
    display: flex;
    flex-direction: column;

    background: map-get(variables.$upgrades, "backgroundColor");
    width: max-content;
    border-radius: 1rem;

    &__upgrade {
        padding: 2rem;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 5% 95%;
        transition: 0.2s all;

        &>i {
            transform: translateY(10%);
            color: map-get(variables.$cookie, "cookieSpots");
        }

        &:hover {
            cursor: pointer;
            background: map-get(variables.$cookie, "cookieSpots");
            color: map-get(variables.$upgrades, "backgroundColor");

            &>i {
                color: map-get(variables.$upgrades, "backgroundColor");
            }
        }

        &:nth-of-type(1) {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        &:nth-of-type(3) {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

    }
}