@use '../../abstracts/variables';

.score {
    color: map-get(variables.$cookie, "cookieSpots");
    font-size: 300%;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}