@use '../../abstracts/variables';

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    background: whitesmoke;
    padding: 4rem;

    &__color {
        width: 22rem;
        flex-grow: 1;
        aspect-ratio: 1/1;
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.2rem solid rgba(128, 128, 128, 0.25);
        border-radius: 0.5rem;
    }

    &__color:hover &__circle {
        cursor: pointer;
        transform: scale(1.15);
    }

    &__circle {
        width: 50%;
        height: 50%;
        background-color: #635985;
        border-radius: 50%;
        transition: 0.2s transform;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}