@use '../../abstracts/variables';
@use '../../abstracts/animations';

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    background: whitesmoke;
    padding: 4rem;

    &__color {
        width: 22rem;
        flex-grow: 1;
        aspect-ratio: 1/1;
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.2rem solid rgba(128, 128, 128, 0.25);
        border-radius: 0.5rem;
        overflow: hidden;
        transition: 0.2s transform;
        position: relative;
    }

    &__color:hover {
        cursor: pointer;
    }

    &__circle {
        width: 50%;
        height: 50%;
        background-color: #635985;
        border-radius: 50%;
        transition: 0.2s transform;

        &--selected {
            transform: scale(3);
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: popup;
        animation-duration: 0.6s;
    }
}