@use '../../abstracts/variables';

.cookie {
    width: 40rem;
    aspect-ratio: 1/1;
    background: map-get(variables.$cookie, "cookieBackground");
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.5rem solid map-get(variables.$cookie, "cookieSpots");

    &__spots {
        width: 10rem;
        aspect-ratio: 1/1;
        background-color: map-get(variables.$cookie, "cookieSpots");
        border-radius: 45%;
        position: absolute;

        &--first {
            top: 36%;
            left: 6%;
            width: 8rem;
        }

        &--second {
            top: 10%;
            left: 30%;
            width: 6rem;
        }

        &--third {
            top: 70%;
            left: 15%;
            width: 4rem;
        }

        &--fourth {
            top: 34%;
            left: 40%;
            width: 8rem;
        }

        &--fifth {
            top: 20%;
            left: 70%;
            width: 7rem;
        }

        &--sixth {
            top: 60%;
            left: 35%;
            width: 8rem;
        }

        &--seventh {
            top: 70%;
            left: 70%;
            width: 12rem;
        }
    }
}